#edit-search-keys, #edit-search-keys--2 {
	float: left;
	width: 90%;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.btn.search {
	margin-top: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	height: 38px;
}

.search-google-appliance-search-form #edit-submit--2 {
	display: none;
}

#asu-gsa-search-form .form-submit {
	display: none;
}

.search-results {
	padding-left: 5px;
}
.form-control.form-text.contained {
	width: 200px;
	float: left;
	height: 35px;
}
.search-option {
	margin-bottom: 20px;
	font-size: 20px;
}
.search-collection {
	margin-right: 10px;
}
.search-selected, .search-selected:hover {
	border-bottom: 5px solid #FFBF36;
}
